# Getting started with ETL

**ETL** stands for **Extract, Transform, Load**. It is a data integration process used to collect data from multiple sources, clean and transform the data into a proper format, and load it into a target system, such as a data warehouse or database.

## ETL Process Breakdown

1. **Extract**:
   The first step involves extracting data from various sources, such as databases, APIs, or files (e.g., CSV, JSON). The goal is to retrieve the raw data needed for analysis.

2. **Transform**:
   In this stage, the extracted data is cleaned, formatted, and transformed to ensure consistency and usability. Transformations might include:
   - Handling missing or null values
   - Standardizing data formats (e.g., date formats, currencies)
   - Aggregating data or performing calculations
   - Merging data from multiple sources

3. **Load**:
   The final step is loading the transformed data into a target system, such as a data warehouse (e.g., Amazon Redshift, Google BigQuery) or database. This makes the data ready for reporting, analytics, or use by machine learning models.

## Why ETL?

ETL automates the process of collecting, processing, and storing data, ensuring that clean and consistent data is always available for decision-making. This process is essential for businesses that need to handle large volumes of data from multiple sources efficiently and consistently.

## Example

Imagine a retail company that wants to combine data from its online store, physical store, and customer service platform. ETL would:
1. **Extract** sales data from the online and physical store databases and customer feedback from the service platform.
2. **Transform** the data to standardize currencies, clean any missing values, and ensure all timestamps use the same format.
3. **Load** the consolidated data into a centralized database, ready for analysis.

By automating ETL, the company ensures that its data is always up-to-date and ready for reporting and analytics.

# First Impressions

In the code below is shown a simple example of how to connect with the google-cloud bigquery and extract data from a table.

In [ ]:
!pip install google-cloud-bigquery
!pip install --upgrade google-cloud-bigquery
!pip install pandas_gbq
!pip install pandas
!pip install load_dotenv
!pip install openpyxl

## Step 1: Install the BigQuery Library

In [12]:
from google.cloud import bigquery
import pandas as pd
from load_dotenv import load_dotenv
import os

## Step 2: Authenticate with Google Cloud and Get the .env file

In [13]:
load_dotenv()

FIRST_PROJECT = os.getenv('FIRST_PROJECT')

credential = 'key.json'
client = bigquery.Client.from_service_account_json(credential)

## Step 3: Load Data from BigQuery

In [14]:
query = f"""
SELECT * FROM `{FIRST_PROJECT}`
"""

result = client.query(query)
df = result.to_dataframe()

df.head()

/home/pcmoraes/Desktop/codigos/ETL/.venv/lib/python3.10/site-packages/google/cloud/bigquery/table.py:1727: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

,id,created_at,first_name,last_name,email,cell_phone,country,state,street,number,additionals
0,36,2018-01-26 03:29:13+00:00,Mariana,Góes,mariana@meu_email.com,9 7324-4293,Brasil,None,None,NaN,Apto 25
1,73,2018-02-03 07:37:38+00:00,Cristiano,Almeida,cristiano@usuario.com,9 2630-9907,Brasil,None,None,NaN,Conjunto 24
2,84,2018-11-01 15:39:40+00:00,Carol,Bueno,carol@meu_email.com,9 3760-2211,Brasil,None,None,NaN,Conjunto 26
3,95,2018-10-01 11:35:59+00:00,Mariana,Rosa,mariana@usuario.com,9 3139-2145,Brasil,None,None,NaN,None
4,0,2017-11-01 14:45:41+00:00,Marta,Jesus,None,9 9102-7834,Brasil,Acre,None,NaN,Conjunto 16

## How to transfer data locally to BigQuery

In [25]:
import pandas as pd
from google.cloud import bigquery
from google.oauth2 import service_account
import pandas_gbq as pd_gbq

In [16]:
credentials = service_account.Credentials.from_service_account_file('key.json')

In [17]:
df = pd.read_excel('data/Produto.xlsx')

In [18]:
df.head()

   ID                  Name  Price  Id_Category
0   0       Sapato vermelho     96            0
1   1  Bolsa mais que Velha   8000            0
2   2                 Calça     75            0
3   3    Camisa apertadinha    170            0
4   4   Vestido Super curto     57            0

In [22]:
load_dotenv()
SEND = os.getenv('SEND_DATA')
PROJECT_ID = os.getenv('PROJECT_ID')

In [28]:
pd_gbq.to_gbq(
    df,
    destination_table=SEND,
    project_id = PROJECT_ID,
    if_exists = 'replace',
    credentials=credentials
)